@page
@model Project1.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.css" />
    <script type="text/javascript" src="~/js/dashboard.js"></script>
    <script type="text/javascript">
        getPieChart('type-chart',@Html.Raw(Model.DashboardVM.JsonChartData.typePieColors),@Model.DashboardVM.JsonChartData.typePieValues,@Html.Raw(Model.DashboardVM.JsonChartData.typePieLabels));
        getPieChart('status-chart',@Html.Raw(Model.DashboardVM.JsonChartData.statusPieColors),@Model.DashboardVM.JsonChartData.statusPieValues,@Html.Raw(Model.DashboardVM.JsonChartData.statusPieLabels));
        getLineChart('activity-chart',@Model.DashboardVM.JsonChartData.activityLineValues,@Html.Raw(Model.DashboardVM.JsonChartData.activityLineLabels));
    </script>
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class=" font-weight-bold text-info text-uppercase mb-1">Open Issues</div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">@Model.DashboardVM.Activity.OpenIssueCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-virus fa-3x text-gray-600"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-info text-uppercase mb-1">Closed Issues</div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">@Model.DashboardVM.Activity.ClosedIssueCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-holding-medical fa-3x text-gray-600"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-info text-uppercase mb-1">Average Issues Added</div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">
                                @Model.DashboardVM.Activity.AverageIssuesAdded
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-head-side-virus fa-3x text-gray-600"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-info text-uppercase mb-1">Average Issues Closed</div>
                            <div class="h4 mb-0 font-weight-bold text-gray-800">@Model.DashboardVM.Activity.AverageIssuesClosed</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-pump-medical fa-3x text-gray-600"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Activity</h6>
                </div>
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <canvas id="activity-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Status</h6>
                </div>
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <canvas width="400" height="400" id="status-chart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        @for (int s = 0; s < Model.DashboardVM.StatusPieChart.Colors.Count(); s++)
                        {
                            <span class="mr-2">
                                <i class="fas fa-circle " style="color:@Model.DashboardVM.StatusPieChart.Colors[s]"></i> @Model.DashboardVM.StatusPieChart.Labels[s]
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">Types</h6>

                </div>
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <canvas width="400" height="400" id="type-chart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        @for (int s = 0; s < Model.DashboardVM.TypePieChart.Colors.Count(); s++)
                        {
                            <span class="mr-2">
                                <i class="fas fa-circle " style="color:@Model.DashboardVM.TypePieChart.Colors[s]"></i> @Model.DashboardVM.TypePieChart.Labels[s]
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" id="pie">
            <canvas width="400" height="400" id="type-chart"></canvas>
            <!-- await Component.InvokeAsync("DoughnutChart")-->
        </div>
        <div class="col-3" id="pie">
            <!--await Component.InvokeAsync("DoughnutChart")-->
        </div>
    </div>
</div>